In [1]:
# importing libararies
import numpy as np
import pandas as pd

#importing visualization
import matplotlib.pyplot as plt
import seaborn as sb

#importing metrics
from sklearn.metrics import r2_score

In [2]:
#importing data
data = pd.read_csv('C:\\Users\\abhishek\\Desktop\\GitHub\\kc_house.csv')

In [3]:
data.shape

(21613, 21)

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
#eliminating unused columns
data = data.iloc[:,2:]

In [6]:
data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [7]:
#checking for null values
data.isnull().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [8]:
Y = data.price
X = data.iloc[:,1:18]

In [9]:
# training X and Y values

In [10]:
#importing train_test_split
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.20,random_state=100)

## Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
model_lr = LinearRegression()

In [14]:
model_lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [15]:
predict_lr = model_lr.predict(X_test)

In [16]:
predict_lr

array([370899.43002629, 290914.40745942, 554435.9540943 , ...,
       691359.96923679, 486191.5205842 , 718782.70771717])

In [17]:
r2_score(Y_test,predict_lr)

0.7023833349831453

## K Near Neighbour Regression

In [18]:
from sklearn.neighbors import KNeighborsRegressor

In [19]:
model_knn = KNeighborsRegressor(n_neighbors=11)

In [20]:
model_knn.fit(X_train,Y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=11, p=2,
          weights='uniform')

In [21]:
predict_knn = model_knn.predict(X_test)

In [22]:
r2_score(Y_test,predict_knn)

0.5804056012400434

## Support Vector

In [23]:
from sklearn.tree import DecisionTreeRegressor

In [24]:
model_dt = DecisionTreeRegressor()

In [25]:
model_dt.fit(X_train,Y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [26]:
predict_dt = model_dt.predict(X_test)

In [27]:
r2_score(Y_test,predict_dt)

0.731603405364766

## Random Forest

In [28]:
from sklearn.ensemble import RandomForestRegressor

In [29]:
model_rf = RandomForestRegressor()

In [30]:
model_rf.fit(X_train,Y_train)

C:\Users\abhishek\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [31]:
predict_rf = model_rf.predict(X_test)

In [32]:
r2_score(Y_test,predict_rf)

0.8874174674788585

## XGBoost

In [33]:
from xgboost import XGBRegressor

In [34]:
model_xgb = XGBRegressor()

In [35]:
model_xgb.fit(X_train,Y_train)

C:\Users\abhishek\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[12:55:22] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0,
       importance_type='gain', learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=1, verbosity=1)

In [36]:
predict_xgb = model_xgb.predict(X_test)

In [37]:
r2_score(Y_test,predict_xgb)

0.8661529464887161

## Support Vector

In [38]:
from sklearn.svm import SVR

In [41]:
model_svr = SVR(kernel = 'linear',C = 1000)

In [ ]:
model_svr.fit(X_train,Y_train)